.disply_p{
    display: flex;
    border-top: brown 1px solid;
    padding-bottom: 2%;
    padding-top: 2%;
}
.color_text{
    color: #fff !important;
}
.margin_left_upload{
    margin-left: 25% !important;
    margin-bottom: 5%;
    margin-top: 5%;
}
.margin_left_upload_1{
    
    margin-bottom: 5%;
    margin-top: 5%;
}
.pad_shift{
    padding-left: 44%;
}
.padding_upload{
    padding-left: 5%;
}
.adding_pad{
    padding-left: 5px;
}
.jumbotron {
    padding: 1rem 2rem;
}
.padding_right{
    padding-right: 2%;
}
.count_pad{
    padding-top: 1%;
}
.text_center{
    text-align: center;
}
.admin_box{
    margin-top: 5%;
    height: 450px;
    overflow-y: auto;
}